
* {
	padding : 0;
	margin : 0;
	font-family: "Segoe UI",Arial,sans-serif;
}
/*Header Styles*/ 
header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 2px 2px #aaa;
}
header div {
    text-align: center;
    padding: 10px;
}
header h1 {
    letter-spacing: 0.1em;
    font-family: Arial;
    font-size: 24px;
}
header img {
    padding: 22px;
    position: absolute;
    top: 0;
    right: 0;
}
header img:hover, header img:active {
    background-color: #eee;
    cursor: pointer;
}

/*Navigation bar styles*/
nav {
    background: #666;
    z-index: 1;
    position: sticky;
    box-shadow: 0px 2px 2px #aaa;
    padding-bottom: 4px;
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
}
.left-nav {
    flex-direction: column;
}
.right-nav {
    flex-direction: row;
}
.right-nav li {
    flex-basis: 50%;
    border: 1px solid white;
    margin: 4px;
    box-sizing: border-box;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 15px;
    transition: 0.5s ease;
    text-align: center;
}

nav ul li a:hover:not(.active) {
    background: #111;
}
.active {
    background: #111;
}
#login, #register {
    cursor: pointer;
}
.acc-drop-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.acc-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.fa-caret-up {
    display: none;
}

/*Search Box styles*/
.search-box {
    background: #fff;
    height: 40px;
    padding: 5px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin: 0px 4px;
    z-index: 1;
}
.search-txt {
    float: left;
    border: none;
    outline: none;
    background: none;
    color: #333;
    padding: 0;
    line-height: 40px;
    padding-left: 8px;
}
.search-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    transition: .4s;
}
.search-box:hover > .search-btn {
    background: #333;
    color: white;
}
/*Form Styles*/
#forms-container {
	margin-top: 50px;
}
form {
    border: 1px solid #ddd;
    box-shadow: 4px 4px 5px 1px #bbb;
    background: #fff;
    padding:  8px;
    margin: 8px;
    box-sizing: border-box;
    text-align: center;
}

input {
    padding: 4px;
    margin: 20px auto;
    font-size: 16px;
    display: block;
    width: 90%;
}
input[type="submit"] {
    border: 0;
    padding: 8px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 15px;
    background: #aadddd;
    background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
    box-shadow: 4px 4px 5px 1px #ccc;
    margin-top: 40px;
}
input[type="submit"]:hover {
    background: #77aaaa;
    background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    background: linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
}
form h2 {
    letter-spacing: .1em;
    color: #558888;
    margin: 10%;
    font-size: 25px;
    text-transform: capitalize;
}
input[type="checkbox"] {
    display: inline;
    width: 20px;
    margin: 0;
}
#register-form, #login-form {
    display: none;
}

footer {
    
}

@media screen and (min-width: 1000px) {
    header img {
        display: none;
    }
    nav {
        display: block;
    }
    .acc-drop-content a:hover {
        color: white;
        background-color: #f1f1f1;
    }

    .acc-dropdown:hover .acc-drop-content {
      display: block;
    }
    
    form {
        border: 1px solid #ddd;
        box-shadow: 4px 4px 5px 1px #bbb;
        background: #fff;
        width: 300px;
        margin: 0px auto;
        padding:  50px;
        text-align: center;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #register-form {
        height: 400px;
    }
    #login-form {
        height: 250px;
    }
    input {
        padding: 4px;
        margin: 20px auto;
        font-size: 16px;
        display: block;
        width: 90%;
    }
    input[type="submit"] {
        border: 0;
        padding: 8px;
        color: white;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 15px;
        background: #aadddd;
        background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
        background: -webkit-linear-gradient(top, #aadddd 0%, #77aaaa 100%);
        background: linear-gradient(top, #aadddd 0%, #77aaaa 100%);
        box-shadow: 4px 4px 5px 1px #ccc;
        margin-top: 40px;
    }
    input[type="submit"]:hover {
        background: #77aaaa;
        background: -webkit-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
        background: -moz-linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
        background: linear-gradient(bottom, #aadddd 0%, #77aaaa 100%);
    }
    form h2 {
        letter-spacing: .1em;
        color: #558888;
        margin-bottom: 15%;
        font-size: 25px;
        text-transform: capitalize;
    }
}
